ArchiveSources: => GetString("PostSources")
ArchiveFilter: => GetBool("IsPost")
ArchiveOrderKey: Published
ArchiveOrderDescending: true
---


<section class="container mx-auto">
    @foreach(IGrouping<int, IDocument> group in Document
        .GetChildren()
        .GroupBy(x => x.GetDateTime(WebKeys.Published).Year)
        .OrderByDescending(x => x.Key))
    {

        <span class="block p-2 m-2 text-5xl text-white bg-slate-700 dark:bg-slate-800">@group.Key</span>

        foreach (IDocument post in group)
        {
            string excerpt = post.GetString(Statiq.Html.HtmlKeys.Excerpt);
            string imageUrl = "/images/" + post.GetString(WebKeys.Image);

            
            <div class="delay-150 duration-300">
                <div class="delay-150 duration-300">
                    <div class="relative m-2 rounded-lg bg-slate-100 dark:bg-slate-800 dark:text-white drop-shadow-sm  hover:bg-slate-50 dark:hover:bg-slate-950">
                        <div class="flex flex-col p-4 md:flex-row md:justify-between">

                            @if (imageUrl != "/images/")
                            {
                                @* blog cover *@
                                <div class="mb-10 md:hidden md:visible">
                                    <img class="object-cover rounded-md md:rounded-full" src="@imageUrl" alt="Post Cover">
                                </div>
                            }
                            
                            @if (post.GetString("ImageUrl") != null)
                            {
                                @* blog cover *@
                                <div class="mb-10 md:hidden md:visible">
                                    <img class="object-cover rounded-md md:rounded-full" src="@post.GetString("ImageUrl")" alt="Post Cover">
                                </div>
                            }

                            <div class="">

                                <div class="flex flex-row items-center">
                                    <div class="text-neutral-400 dark:text-neutral-800 rounded-full border-2 border-pink-200 bg-pink-100 px-2 py-1 text-xs font-semibold">
                                        @post.GetString("Tags")
                                    </div>
                                    <span class="text-xs font-semibold">@post.GetDateTime(WebKeys.Published).ToLongDateString()</span>
                                </div>

                                <div class="my-1 flex flex-col flex-wrap space-y-1">
                                    <div class="text-2xl capitalize "> @post.GetString("title") </div>
                                    @if(post.ContainsKey("Lead"))
                                    {
                                        <span>@post.GetString("Lead")</span>
                                    }
                                    <div class="text-sm"> @Html.Raw(excerpt) </div>
                                </div>
                                

                                <div class="mt-10 flex items-center justify-start space-x-2">
                                    <a href="@post.GetLink()" class="flex flex-row items-center space-x-1 rounded-md bg-blue-600 p-2 font-medium shadow-md shadow-blue-500/50">
                                        <span class="text-white">Read </span>
                                        <svg class="h-4 w-4 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                            fill="currentColor" class="h-6 w-6">
                                            <path fill-rule="evenodd"
                                                d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </a>

                                    <img class="h-8 w-8 rounded-full object-cover"" src="authorAvathors/chandrakanth.jpg" alt="office worker">

                                    <div class="flex flex-row space-x-1 text-sm font-medium">
                                        <span> by </span>
                                       <div>  @post.GetString("By") </div>
                                    </div>
                                </div>

                            </div>

                            @if (imageUrl != "/images/")
                            {
                                @* blog cover *@
                                <div class="flex-none hidden max-w-sm min-w-0 duration-300 delay-150 hover:-translate-y-2 hover:scale-100 md:block">
                                    <img class="object-cover rounded-2xl max-h-72"  src="@imageUrl" alt="Post Cover">
                                </div>
                            }

                            @if (post.GetString("ImageUrl") != null)
                            {
                                <div class="hidden max-w-sm min-w-0 duration-300 delay-150 hover:-translate-y-2 hover:scale-100 md:block shrink-0">
                                    <img class="object-cover rounded-2xl max-h-72" src="@post.GetString("ImageUrl")" alt="Post Cover">
                                </div>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        
        }

    }
</section>

